/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.
Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

/* If you decide to uncomment this code, comment it back for the Autograder. */
/* tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
} */

/*END STARTER CODE*/

body{
  font-family: "Andika", sans-serif;
  color: #000000;
  font-size: 16px;
  margin: 1.2em;
  background-image: url("../images/pigeon-background.JPEG");
  background-color: #DDDDDD ;
  background-repeat:no-repeat;
  background-size: cover ;
  background-position: center;
  

  /*Req 1*/
}

h1{
  color: #c12258;
  font-size: 32px;
  text-align: center;
  line-height: 2;

  /*Req 2*/
}

p{
  padding-top: 15px;
  
}

a{
  color: #B21F50;
  font-size: 16px;
  text-decoration-style: wavy;
}

/*Req 5*/
/*Add selector and rule here*/

*:focus {
  border: 3px;
  border-style: dashed;
  border-color: #417243;
}

td{
  text-align: center;
  padding: 10px;
  border-top: 2px solid black;
}
tr:nth-child(even) {background-color: #D1D1D1;}
tr:nth-child(odd) {background-color:transparent;}
tr:hover {
  background-color: rgba(126, 8, 37, 0.25)
}

.colhead{
  color: #FFFFFF;
  padding: 10px;
  background-color: #7e0825;
  text-transform: uppercase;
  text-align: center;
  column-width: 125px;

}

.rowhead{
  border-top: 2px solid black;
  border-right: 2px solid black;
  

}


table{
    border: 5px solid #000000;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate ;
    border-radius: 50px ;
}

thead tr:first-child th:first-child{
  border-top-left-radius: 50px;
}

thead tr:first-child th:last-child{
  border-top-right-radius: 50px;
}

tbody tr:last-child th:first-child{
  border-bottom-left-radius: 50px;
}

tbody tr:last-child th:last-child{
  border-bottom-left-radius: 50px;
}

tbody tr:last-child th:last-child{
  border-bottom-right-radius: 50px;
}
/* I gave you the selector, but not the property-value pair. 
You can use Inspect Element or your editor to find selectors. */
thead tr:first-child th:first-child{}

/*Add selectors and rules here*/



footer{
  background:#000000;
  text-align:center;
  color: #FFFFFF;
  height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0
}
